body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.3;
  display: flow-root;

  &::before,
  &::after {
    content: "";
    display: block;
    position: fixed;
    z-index: 11;
  }
}

main::before,
main::after {
  content: "";
  display: block;
  position: fixed;
  z-index: 11;
}

.mobile-only {
  display: inherit;
}

.desktop-only,
.hidden {
  display: none;
}

.transitioning-mode body {
  transition: all 0.3s ease;
}

main {
  margin: 20px;
}

#left,
#right {
  width: 100%;
}

#left {
  text-align: center;
  margin-bottom: 48px;
}

.image-credit {
  text-align: center;
  font-size: 11px;
  color: var(--bg-color);
  opacity: 0.4;
}

#right {
  padding-bottom: 30px;
}

#colophon {
  margin: 48px 0;
}

section {
  padding-bottom: 30px;
}

.intro {
  margin-bottom: 48px;
  font-size: 18px;
}

.outro {
  padding-top: 20px;
  margin-top: 20px;
}

.demonstrate {
  padding: 16px;
  background-color: var(--demonstrate-bg-color);
}

code {
  background-color: var(--demonstrate-bg-color);

  .demonstrate & {
    background-color: transparent;
  }
}

.spot {
  width: 40%;
  float: right;
  margin: 0 0 30px 40px;
}

@include desktop {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inherit;
  }

  main {
    margin: 50px auto;
    max-width: 960px;
  }

  #left {
    float: left;
    width: 300px;
    margin-right: 60px;
  }

  #right {
    float: left;
    width: 600px;
  }

  img.spot {
    margin: 0 -100px 30px 50px;
    width: 350px;
  }
}
