h1 {
  font-size: 48px;
  margin-top: 8px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  text-transform: lowercase;
}

#left h2 {
  font-size: 36px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  text-transform: lowercase;

  @include desktop {
    font-size: 32px;
    margin-bottom: 56px;
  }

  a {
    color: var(--text-color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: var(--link-color);
    }
  }
}

a:link {
  color: var(--link-color);
  font-weight: 600;
}

a:visited {
  color: var(--link-visited-color);
}

a.number:link {
  text-decoration: none;
}

dt {
  padding-top: 16px;
  font-weight: 600;
}

code,
.code,
.demonstrate {
  color: var(--demonstrate-text-color);
  font-size: 14px;
  padding: 4px;
  margin: 0 -2px;
}

code,
.code {
  text-transform: none;
}

code {
  transition: all 0.1s ease;

  &:hover {
    padding: 8px;
    margin: 0 -6px;
    color: var(--link-visited-color);
  }
}

.code,
.demonstrate code {
  font-family: monospace;
  line-height: 1.6;
}

code em,
.code em {
  font-style: normal;
  color: var(--demonstrate-emphasis-text-color);
}
