<main>
  <.flash_group flash={@flash} />
  <div id="left">
    <div id="portrait"></div>
    <.stickers />
  </div>
  <div id="right">
    <.ui_controls show_mode />
    <.navigation items={@nav_items} current_section={@current_section} />
    {@inner_content}
    <.colophon current_section={@current_section} back_link={@back_link} />
  </div>
</main>
