@include apply-theme(default);

:root,
:root[data-theme="default"] {
  text-transform: lowercase;

  .theme-switch#default {
    border-color: white;
    background-color: transparent;
    color: coral;
    border-radius: 100%;
  }

  .portrait {
    filter: drop-shadow(-4px 4px 0 var(--shadow-color));
  }
}
