body.page-home {
  #right {
    .intro {
      line-height: 1.4;
    }
  }

  @include desktop {
    #left {
      width: 400px;
      margin-top: -36px;
    }

    #right {
      width: 500px;
    }
  }
}
