$themes: (
  default: (light: (bg-color: lavenderblush,
      accent-color: coral,
      demonstrate-color: mediumvioletred,
      text-color-primary: darkslateblue,
      text-color-secondary: darkslateblue,
      link-color: violet,
      link-visited-color: chartreuse,
      font-family-primary: #{Courier, monospace},
      font-family-secondary: #{Courier, monospace},
      frame-top-color: greenyellow,
      frame-right-color: violet,
      frame-bottom-color: coral,
      frame-left-color: violet,
      shadow-color: rgba(violet, 0.7)),
    dark: (bg-color: darkslateblue,
      accent-color: coral,
      demonstrate-color: midnightblue,
      text-color-primary: lavenderblush,
      text-color-secondary: white,
      link-color: violet,
      link-visited-color: greenyellow,
      font-family-primary: #{Courier, monospace},
      font-family-secondary: #{Courier, monospace},
      frame-top-color: greenyellow,
      frame-right-color: midnightblue,
      frame-bottom-color: violet,
      frame-left-color: midnightblue,
      shadow-color: rgba(mediumvioletred, 0.7))),
  assert: (light: (bg-color: midnightblue,
      text-color-primary: greenyellow,
      text-color-secondary: greenyellow,
      link-color: rebeccapurple,
      link-visited-color: violet,
      font-family-primary: #{'Roboto Mono', monospace},
      font-family-secondary: #{'Helvetica Neue', Helvetica, Arial}),
    dark: (bg-color: greenyellow,
      text-color-primary: midnightblue,
      text-color-secondary: midnightblue,
      link-color: rebeccapurple,
      link-visited-color: violet,
      font-family-primary: #{'Roboto Mono', monospace},
      font-family-secondary: #{'Helvetica Neue', Helvetica, Arial}))
);

$breakpoint-desktop: 1024px;
