/* No Tailwind for this, thanks. */
@import url(theme-default.css);
@import url(theme-assert.css);

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family-copy);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
}

.mobile-only {
  display: inherit;
}

.desktop-only {
  display: none;
}

#theme-control {
  position: absolute;
  top: 24px;
  right: 24px;
  display: none;
}

.theme-switch {
  cursor: pointer;
  border: 1px solid;
  font-family: var(--font-family-heading);
}

.theme-switch.active {
  opacity: 0.5;
  cursor: default;
}

h1 {
  font-size: 42px;
  margin-top: 8px;
  font-family: var(--font-family-heading);
  text-transform: lowercase;
}

a:link {
  color: var(--link-color);
  font-weight: 600;
}

a:visited {
  color: var(--link-visited-color);
}

dt {
  padding-top: 16px;
  font-weight: 600;
}

.wrapper {
  margin: 20px;
}

.sidebar,
.content {
  width: 100%;
}

.content {
  padding-bottom: 30px;
}

.image-container {
  width: 35%;
  margin: 0 auto;
}

.image-container img {
  width: 100%;
  display: block;
}

.image-credit {
  text-align: center;
  font-size: 11px;
  color: var(--bg-color);
  opacity: 0.4;
}

@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inherit;
  }

  .wrapper {
    margin: 50px auto;
    width: 900px;
  }

  .sidebar {
    float: left;
    width: 320px;
    padding-right: 60px;
    text-align: right;
  }

  .content {
    float: left;
    width: 520px;
  }

  .image-container {
    width: 100%;
    padding-bottom: 40px;
  }
}
