/* No Tailwind for this, thanks. */
/*
  All colours are named.
  https://developer.mozilla.org/en-US/docs/Web/CSS/named-color
*/
@import url(home.css);
/* @import url(ltq.css); */

/* Structure */

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: var(--font-family-primary);
  transition: all 0.3s ease;
  font-size: 16px;
  line-height: 1.2;
  display: flow-root;
}

.mobile-only {
  display: inherit;
}

.desktop-only,
.hidden {
  display: none;
}

main {
  margin: 20px;
}

.sidebar,
.content {
  width: 100%;
}

.sidebar {
  text-align: center;
  margin-bottom: 48px;
}

img.portrait {
  width: 100%;
  max-width: 360px;
  display: block;
  margin: 0 auto;
}

.image-credit {
  text-align: center;
  font-size: 11px;
  color: var(--bg-color);
  opacity: 0.4;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 12px 0;
  text-align: center;
  line-height: 1.4;
}

nav ul li {
  margin: 0;
  display: inline-block;
  font-size: 21px;
  margin: 0 12px;
  text-transform: lowercase;
}

nav ul li.current a {
  color: var(--accent-color);
  text-decoration: none;
}

.content {
  padding-bottom: 30px;
}

section {
  padding-bottom: 30px;
}

.intro {
  padding-bottom: 20px;
  margin-bottom: 60px;
}

.outro {
  padding-top: 20px;
  margin-top: 20px;
}

/* Controls for Theme and Dark Mode UI */

#theme-control {
  position: absolute;
  top: 24px;
  right: 24px;
}

.theme-switch, .mode-switch {
  cursor: pointer;
  border: 1px solid;
  font-family: var(--font-family-secondary);
  height: 20px;
  width: 20px;
}

.theme-switch.active {
  opacity: 0.5;
  cursor: default;
}

#mode-switch {
  background-color: transparent;
  border: none;
  line-height: 1;
}

/* Typography */

h1 {
  font-size: 48px;
  margin-top: 8px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  text-transform: lowercase;
}

.sidebar h2 {
  font-size: 42px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  text-transform: lowercase;
}

a:link {
  color: var(--link-color);
  font-weight: 600;
}

a:visited {
  color: var(--link-visited-color);
}

a.number:link {
  text-decoration: none;
}

dt {
  padding-top: 16px;
  font-weight: 600;
}

/* Images */

.spot {
  width: 40%;
  float: right;
  margin: 0 0 30px 40px;
}


@media only screen and (min-width: 1024px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inherit;
  }

  main {
    margin: 50px auto;
    max-width: 960px;
  }

  .sidebar {
    float: left;
    width: 300px;
    margin-right: 60px;
    margin-bottom: 0;
  }

  .sidebar h2 {
    font-size: 32px;
  }

  img.portrait {
    max-width: initial;
    width: 100%;
  }

  nav ul {
    margin: 24px 0;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  #theme-control {
    position: initial;
    margin: 48px 0;
  }

  .content {
    float: left;
    width: 600px;
  }

  img.spot {
    margin: 0 -100px 30px 50px;
    width: 350px;
  }

}
