body.home .sidebar h2 {
  display: none;
}

body.home nav ul {
  margin-bottom: 36px;
}

body.home .content h1 {
  font-size: 42px;
  margin-top: 8px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
  text-transform: lowercase;
}

body.home .content .intro {
  line-height: 1.4;
}

@media only screen and (min-width: 1024px) {

  body.home .sidebar {
    width: 400px;
    margin-top: -36px;
  }

  body.home nav ul {
    margin: 24px auto;
  }

  body.home .content {
    width: 500px;
  }
}
