:root, :root[data-theme="default"] {
  --bg-color: lavenderblush;
  --accent-color: coral;
  --demonstrate-color: mediumvioletred;
  --text-color-primary: darkslateblue;
  --text-color-secondary: darkslateblue;
  --link-color: violet;
  --link-visited-color: chartreuse;
  --font-family-primary: Courier, monospace;
  --font-family-secondary: Courier, monospace;
  --frame-top-color: greenyellow;
  --frame-right-color: violet;
  --frame-bottom-color: coral;
  --frame-left-color: violet;
  text-transform: lowercase;
}

:root.dark-mode, :root[data-theme="default"].dark-mode {
  --bg-color: darkslateblue;
  --accent-color: coral;
  --demonstrate-color: midnightblue;
  --text-color-primary: lavenderblush;
  --text-color-secondary: white;
  --link-color: violet;
  --link-visited-color: greenyellow;
  --font-family-primary: Courier, monospace;
  --font-family-secondary: Courier, monospace;
  --frame-top-color: greenyellow;
  --frame-right-color: midnightblue;
  --frame-bottom-color: violet;
  --frame-left-color: midnightblue;
}

.theme-switch#default {
  border-color: white;
  background-color: transparent;
  color: coral;
  border-radius: 100%;
}

:root .portrait, :root[data-theme="default"] .portrait {
  filter: drop-shadow(6px 8px 1px rgba(0, 0, 0, 0.5));
}

code, .code, .demonstrate {
  color: var(--accent-color);
  font-size: 14px;
  padding: 4px;
  margin: 0 -2px;
}

code, .code {
  text-transform: none;
}

code {
  transition: all 0.1s ease;
}

code:hover {
  padding: 8px;
  margin: 0 -6px;
  color: var(--link-visited-color);
}

.code, .demonstrate code {
  font-family: monospace;
  line-height: 1.6;
}

code em, .code em {
  font-style: normal;
  color: var(--text-color-primary)
}

:root::before, :root[data-theme="default"]::before {
  width: 4px;
  top: 0;
  bottom: calc(1vh - 12px);
  left: 0;
  background-color: var(--frame-left-color);
}

:root::after, :root[data-theme="default"]::after {
  width: 4px;
  top: 0;
  bottom: calc(1vh - 12px);
  right: 0;
  background-color: var(--frame-right-color);
}

body::before, :root[data-theme="default"] body::before {
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--frame-top-color);
}

body::after, :root[data-theme="default"] body::before {
  height: 4px;
  width: 100%;
  bottom: calc(1vh - 12px);
  left: 0;
  background-color: var(--frame-bottom-color);
}
