:root, :root[data-theme="default"] {
  --bg-color: darkslateblue;
  --accent-color: coral;
  --text-color-primary: lavenderblush;
  --text-color-secondary: white;
  /* --bg-color: lavenderblush;
  --text-color-primary: darkslateblue;
  --text-color-secondary: darkslateblue; */
  --link-color: violet;
  --link-visited-color: chartreuse;
  --font-family-primary: Courier, monospace;
  --font-family-secondary: Courier, monospace;
}

:root.dark-mode, :root[data-theme="default"].dark-mode {
  --bg-color: darkslateblue;
  --accent-color: coral;
  --text-color-primary: lavenderblush;
  --text-color-secondary: white;
  --link-color: violet;
  --link-visited-color: greenyellow;
  --font-family-primary: Courier, monospace;
  --font-family-secondary: Courier, monospace;
}

.theme-switch#default {
  border-color: white;
  background-color: transparent;
  color: coral;
  border-radius: 100%;
}

:root .portrait, :root[data-theme="default"] .portrait {
  filter: drop-shadow(6px 8px 16px rgba(0, 0, 0, 0.5));
}
