:root[data-theme="assert"].dark-mode {
  --bg-color: greenyellow;
  --text-color-primary: midnightblue;
  --text-color-secondary: midnightblue;
  --link-color: rebeccapurple;
  --link-visited-color: violet;
  --font-family-primary: "Roboto Mono", monospace;
  --font-family-secondary: "Helvetica Neue", Helvetica, Arial;
}

:root[data-theme="assert"] {
  --bg-color: midnightblue;
  --text-color-primary: greenyellow;
  --text-color-secondary: greenyellow;
  --link-color: rebeccapurple;
  --link-visited-color: violet;
  --font-family-primary: "Roboto Mono", monospace;
  --font-family-secondary: "Helvetica Neue", Helvetica, Arial;
}

.theme-switch#assert {
  border-color: greenyellow;
  background-color: greenyellow;
  color: midnightblue;
}

:root[data-theme="assert"] .portrait {
  filter: drop-shadow(6px 8px 0 chartreuse);
}
